[submodule "jquery"]
	path = jquery
	url = https://github.com/components/jquery.git
[submodule "loop"]
	path = loop
	url = https://github.com/aidanhs/....git
[submodule "loop3"]
	path = loop3
	url = https://github.com/aidanhs/....git
